/* *{
    overflow: hidden;
} */
#data-form{
    background: rgb(34,108,195);
    background: linear-gradient(0deg, rgba(93, 139, 193, 0.959) 27%, rgb(103, 244, 232) 92%);
 width: 400px;
 margin:auto;
 padding: 20px;
 text-align: center;
 border-radius: 15px;
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#data-form .row{
 
    margin-top: 15px;
    
}
#data-table{
   
    margin-left: 1%;
    background: linear-gradient(0deg, rgba(57, 163, 202, 0.959) 27%, rgb(103, 244, 232) 92%);
    
    border: 2px solid wheat;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(156, 173, 193, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   
}

#data-table th{
  
    /* padding: 10px; */
    
    border: 2px solid wheat;
  
   
  
}


button:hover{
    background:rgba(57, 163, 202, 0.959) ;
} 

label{
    /* font-size: 16px; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

@media (Max-width:400px){
       
        #data-form{
            background: rgb(34,108,195);
            background: linear-gradient(0deg, rgba(93, 139, 193, 0.959) 27%, rgb(103, 244, 232) 92%);
        
           width: 100vw;
           
           
            margin-left:4%;

           }
         
        
        
           button{
            padding: 3px;
           }

           label{
            /* font-size: 16px; */
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
        .row-tabel{
            margin-left: 10%;
        }
        
       
}

